<div class="img">
    <br><br>
<div class="container" style="padding-top: 50px; align-items: center; justify-content: center; min-height: 20vh;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px ;">
                <div class="twelve columns text-center"><h1>Editar Usuario</h1></div>
              
    <form [formGroup]="editarform" (ngSubmit)="postform(editarform.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1" style="margin-right: 100%;">ID</label>
            <input type="text" class="form-control" formControlName="usuarioid" readonly>
    </div>
            <div class="form-group">
                    <label for="exampleFormControlInput1"  style="margin-right: 100%;">Nombre</label>
                    <input type="text" class="form-control"  placeholder=" Actualizar nombre" formControlName="nombre" maxlength="30"> 
            </div>
            <div class="form-group">
                    <label for="exampleFormControlInput1"  style="margin-right: 100%;">Correo</label>
                    <input type="text" class="form-control"  placeholder="Actualizar correo" formControlName="correo" maxlength="30">
                </div><br>
                <div class="form-group row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Contraseña</label>
                        <input type="text" class="form-control"  placeholder="Actualizar contraseña" formControlName="password" minlength="8" maxlength="16">     
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1">Tipo de usuario</label>
                        <mat-form-field appearance="legacy" >
                            <mat-select formControlName="role">
                              <mat-option value="admin">admin</mat-option>
                              <mat-option value="usuario">usuario</mat-option>
                            </mat-select>
                          </mat-form-field>     
                    </div>
                   
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary" style="margin: 10px">Guardar</button>
                
                <button type="button" class="btn btn-dark" style="margin-left: 10px" (click)="closeform()" >Salir</button>
                
                </form>
            </div>
        </div>
    </div>
</div>
</div>

