<body>
  <div class="container">
      
      <h1>Recursos</h1>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th width="305px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recurso of recursos">
            <th scope="row">{{ recurso.recursoId }}</th>
            <td>{{ recurso.nombre }}</td>
            <td>{{ recurso.tipo }}</td>

            <td>

              <button type="button" class="btn btn-outline-info" (click)="editar_recurso(recurso.recursoId)">Editar</button>
        
              <button type="button" class="btn btn-outline-danger" (click)="borrar_recurso(recurso.recursoId)">Borrar</button>
              
        
            </td>
  
          </tr>
        </tbody>
      </table>
      <button  (click)="nuevo_recurso()" type="button" class="btn btn-success">Agregar recurso</button>
     
  </div><br><br>
  <router-outlet></router-outlet>
 </body>