<body>
<div class="container">
    
    <h1>Usuarios</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          
          <th scope="col">Role</th>
          <th width="305px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{ usuario.usuarioid }}</th>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
         
          <td>{{ usuario.role }}</td>
          <td>

            <button type="button" class="btn btn-outline-info" (click)="editar_usuario(usuario.usuarioid)">Editar</button>
      
            <button type="button" class="btn btn-outline-danger">Borrar</button>
            
      
          </td>
      
        </tr>
      </tbody>
    </table><br>
    <button  (click)="nuevo_usuario()" type="button" class="btn btn-success">Agregar usuario</button>
   
 </div><br><br>
 <router-outlet></router-outlet>
</body>
