<h1>Lugares</h1>

  

   
<br><br>


<table class="table table-bordered">

  <tr>

    <th>ID</th>
        
    <th>Nombre del lugar</th>

    <th>Domicílio</th>

    

    <th width="305px">Acciones</th>

  </tr>

  <tr>

    <td>1</td>

    <td>Las planchitas</td>

    <td>Av.las americas#322 col.centro</td>

   
    <td>

      <button type="button" class="btn btn-outline-info">Ver</button>
      <button type="button" class="btn btn-outline-info">Editar</button>

      <button type="button" class="btn btn-outline-danger">Borrar</button>
      

    </td>

  </tr>

</table>
<a href="#" routerLink="/post/create/" class="btn btn-success">Registrar lugar</a>

