<body>
  

<div class="container">
    
    <h1>Usuarios</h1>

    <table class="table table-bordered mov">

      <tr>

        <th>id</th>
            
        <th>Nombre</th>

        <th>Correo</th>

       

        <th width="305px">Acciones</th>

      </tr>

      <tr>

        <td></td>

        <td></td>

        <td></td>

       
        <td>

          <button  type="button" class="btn btn-outline-info">Ver</button>

          <button  type="button" class="btn btn-outline-primary">Editar</button>

          <button  type="button" class="btn btn-outline-danger">Borrar</button>

        </td>

      </tr>

    </table>
    
    <button routerLink="crearusuario" type="button" class="btn btn-success">Success</button>
   
 </div>
</body>