<body>
<div class="container">
    
    <h1>Usuarios</h1>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Password</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{ usuario.usuarioid }}</th>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.password }}</td>
          <td>{{ usuario.role }}</td>

        </tr>
      </tbody>
    </table>
    <button routerLink="crearusuario" type="button" class="btn btn-success">Success</button>
   
 </div>
</body>